.bigBox{
    margin-bottom: 60px;
  .topTitle{
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    background-color: #fff;
    width: 100%;
    position:fixed; 
    top:0;
    left:0;
    z-index: 10;
  }
  .banner{
    margin-top: 45px;
    .img{
      // height: 160px;
      color: #fff;
      // line-height: 160px;
      // text-align: center;
      background: #364d79;
    }
  }
  .quick{
    display: flex;
    width: 100%;
     .bottom{
      width: 100%;
      margin: 10px 2px;
      span{
        font-size: 13px!important;
      }
      i{
        font-size: 30px!important;
        color: #0099CC
      }
    }
  }
  .dInfo{
    padding: 20px 10px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
    .img{
      padding: 20px 0;
    }
    img{
      width: 50px; 
      margin-bottom: 10px; 
    }
    p{
      padding: 8px 0;
      &:nth-of-type(1){
        font-size: 17px;
      }
      &:nth-of-type(2){
        color: #f85852;
      }
    }
    .line{
      border-right: 1px solid black;
      transform: scale(0.4, 1);
      -webkit-transform: scale(0.4, 1);
      -moz-transform: scale(0.4, 1);
      -ms-transform: scale(0.4, 1);
      -o-transform: scale(0.4, 1);
    }  
  }
  .mapBox{
    background: #fff;
    p{
      padding: 10px 10px;
    }
    .map{
      height: 200px;
      border:1px solid rgb(88, 87, 87);
    }
  }
}

.App {
  text-align: center;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } }

  .subtile{
    font-size: 20px;
    color: red;
  }