.onset{
 
  .echarts{
    border-bottom: 1px solid #ccc;
  }
  .content{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
  }
}