.bigBox{
    margin-bottom: 60px;
  .topTitle{
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    background-color: #fff;
    border-bottom: 1px solid rgb(175, 172, 172);
    width: 100%;
    position:fixed; 
    top:0;
    left:0;
    z-index: 10;
    .icon{
        position: absolute;
        top: 15px;
        left: 20px;
    }
    p{
        float: right;
        margin-right: 25px;
    }
  }
  .form{
    margin-top: 45px;
    :global{
        .am-list-extra{
            font-size: 13px;
        }
        .am-input-label{
            font-size: 13px;
        }
    }   
    input{
        text-align: right;
        font-size: 13px;
    }
    .explain{
        border: none;
        resize:none;
        width: 100%;
    }
  } 
}
.btns{
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  .button{
    width: 100%;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    position: relative;
    font-size: 14px;
 }
}

// ========================选择医生============================
.chooseBox{
  :global{
    .am-tabs-default-bar-underline{
      border: none;
    }
    .am-tabs-default-bar-tab-active{
      background-color: #108ee9;
      color: white;
    }
    .am-checkbox-wrapper{
      float: right;
      margin-right: 20PX;
      line-height: 45px;
    }
    .am-checkbox-inner{
      border-radius: 0;
    }

  }
  .listBox{
    width: 100%;
    background-color: white;
    .list{
      width: 100%;
      height: 45px;
      line-height: 45px;
      border-bottom: 1PX solid rgb(184, 184, 184);
      span{
        padding-left: 20px;
      }
    }
    
  }
  .telBox{
    width: 100%;
    margin: 20px 3%;
    :global{
      .am-list-item{
        width: 79%;
        input{
          font-size: 13px;
          padding: 0 5px;
          height: 30px;
          border: 1px solid rgb(87, 85, 85);
        }
      }
      .am-button{
        // flex: 1;
        width: 15%;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        border: 1px solid rgb(87, 85, 85);
      }
    }
  }
  .telBox1{
    margin: 20px 0 0 20px;
  }
  .tel{
    width: 60%;
    margin: 20px 0;
    background-color: white;
    box-shadow: 1px 2px 8px;
    span{
      float: right;
      margin-right: 5px;
    }
  }
}
// ==========================选择患者====================
.patientBox{
  margin-bottom: 60px;
  .listBox{
    display: flex;
    width: 100%;
    &:hover{
      background-color: #F2F2F2;
    }
    height: 60px;
    img{
      width: 40px;
      height: 40px;
      margin: 10px 20px;
    }
    .patInfo{
      width: 90%;
      p{
        margin: 10px;
        span{
          margin-left: 20px;
        }
      }
    }
    .time{
      line-height: 60px;
      width: 50%;
      margin-right: 10px;
    }
    .radio{
      width: 5%;
      margin: 10px 15px 0 0;
    }
  }
}
