// ========================病历探讨========================
.bigBox{
    margin-bottom: 60px;
  .topTitle{
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    background-color: #fff;
    border-bottom: 1px solid rgb(175, 172, 172);
    width: 100%;
    position:fixed; 
    top:0;
    left:0;
    z-index: 10;
    .icon{
        position: absolute;
        top: 15px;
        left: 20px;
    }
  }
  .banner{
    margin-top: 45px;
    .img{
      color: #fff;
      background: #364d79;
    }
  }
}
.circle{
  background-color: rgb(221, 219, 216);
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.tabs{
  :global{
    .am-tabs-default-bar-content{
      border-bottom: 1px solid rgb(194, 193, 193);
    }
    .am-tabs-default-bar-tab {
      height: 90px;
      line-height: 90px;
      font-size: 14px;
      
    }
    .am-tabs-default-bar-tab-active {
      font-weight: 700;
      color: black;
      div{
        background-color: rgb(184, 183, 180);
      }
    }
    .am-tabs-default-bar-underline{
      border: none;
    }
  }
}

.listBox{
  width: 100%;
}
.list{
  padding: 15px;
  margin-bottom: 6px;
  background-color: #fff;
  h1{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
 
  p{
    padding-bottom: 5px;
    &:first-of-type{
      margin-bottom: 10px;
      color: darkgrey;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    span{
      float: right;
      margin-right: 15px;
      font-size: 16px;
    }
  }
}
.startDiscuss{
  width: 45px;
  height: 31px;
  background-color: rgb(202, 201, 199);
  border-radius: 50%;
  text-align: center;
  padding: 7px 0;
  position: fixed;
  bottom: 50px;
  right: 15px;
}
// ========================探讨详情========================

.right{
  float: right;
}
.content{
  p{
    width: 92%;
    margin: 0 auto;
    padding: 10px;
  }
  margin-top: 45px;
  div:first-child{
    margin-bottom: 10px;
    background-color: #fff;
    p:first-child{
      font-size: 16px;
      
    }
    p:last-child{
      text-align: right;
    }
  }
  div:nth-child(2){
    background-color: #fff;
    p{
      padding: 15px 10px;
      border-bottom: 1px solid rgb(202, 200, 200);
    }
    .explain{
      p{
        border: none;
      }
      div{
        padding: 20px;
      }
    }
  }
}

.btns{
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  
  .bottom{
    width: 100%;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    position: relative;
    font-size: 14px;
  p{
    position: absolute;
    bottom: -10px;
    left: 20px;
  }
  i{
    position: absolute;
    top: 5px;
    left: 30px;
    font-size: 20px!important;
  }
 }
}

// ========================参与探讨========================

.jionBox{
  .topTitle{
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    background-color: #fff;
    border-bottom: 1px solid rgb(175, 172, 172);
    width: 100%;
    position:fixed; 
    top:0;
    left:0;
    z-index: 10;
    .icon{
        position: absolute;
        top: 15px;
        left: 20px;
    }
  }
  p{
    width: 92%;
    margin: 0 auto;
    padding: 15px 10px;
  }
  .context{
    margin-top: 45px;
    div:first-child{
      background-color: #fff;
      p:first-child{
        font-size: 16px;
      }
      .smallTitle{
        padding: 0 10px 20px;
        border-bottom: 1px solid rgb(202, 200, 200);
      }
    }
  }
  .jionMan{
    background-color: #fff;
    p{
      margin-top: 5px;
    }
  }
  .checkbox{
    color: rgb(169, 171, 173);
    div{
      color: black;
      &:first-of-type{
        background-color: #fff;
      }
    }
    .check{
      float: right;
      width: 20px;
      height: 20px;
    }
  }
    
}




