.bigBox{
    margin-bottom: 60px;
  .topTitle{
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    background-color: #fff;
    width: 100%;
    position:fixed; 
    top:0;
    left:0;
    z-index: 10;
    .icon{
        position: absolute;
        top: 15px;
        left: 20px;
    }
  }
  .banner{
    margin-top: 45px;
    .img{
      // height: 160px;
      color: #fff;
      // line-height: 160px;
      // text-align: center;
      background: #364d79;
    }
  }
}
.circle{
  background-color: rgb(221, 219, 216);
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
:global{
  .am-tabs-default-bar-content{
    border-bottom: 1px solid rgb(12, 11, 11);
  }
  .am-tabs-default-bar-tab {
    height: 90px;
    line-height: 90px;
    font-size: 14px;
    
  }
  .am-tabs-default-bar-tab-active {
    font-weight: 700;
    color: black;
    div{
      background-color: rgb(184, 183, 180);
    }
  }
  .am-tabs-default-bar-underline{
    border: none;
  }
}
.listBox{
  width: 100%;
}
.list{
  color: black;
  padding: 15px;
  margin-bottom: 6px;
  background-color: #fff;
  h1{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
  }
 
  p{
    padding-bottom: 5px;
    &:first-of-type{
      margin-bottom: 10px;
      color: darkgrey;
    }
    span{
      float: right;
      margin-right: 15px;
      font-size: 16px;
    }
  }
}


