.add{
  
  .content{

    font-size: 13px;
    .list{
      margin: 5px 0;
    }
  }
  .red{
    color: red;
  }

  .btn{
    padding: 80px 0;
  }
  :global{
    .am-input-label ,input,.am-list-extra{
      font-size: 13px !important;
    }
  }
  i{
    margin: 0 2px;
  }
  
}
.hightlight {
  color: red;
  font-weight: bold;
}